body{
	background-color: #00ffff;
}

#heading {
	position: fixed;
	float: left;
	left: 37%;
	width: 50%;
	height: 30%;
	font-size: 150%;
	font-family: arial;
}

#para{
	position: absolute;
	float: left;
	top: 30%;
}

#para1 {
	font-family: fantasy;
	font-size: 150%;
	color: #cc66ff
}

#para2 {
	font-family: serif;
	font-size: 250%;
	color: #ff0000;
}

#para3 {
	font-family: monospace;
	font-size: 150%;
	color: #00ff00;
}