*{
	background-color: blue;
}
.Heading{
	text-align: center;
	font-family: arial;
	margin: 0;
	padding: 10px;
}
.para1{
	font-size: 28px;
	font-family: helvetica;
}
.para2{
	font-size: 24px;
	font-family: garamond;
}
.para3{
	font-size: 18px;
	font-family: courier;
}